<?xml version="1.0" encoding="UTF-8"?>
<!-- 参考的xml的定义模板 dtd文件 ，有需要可以自定dtd标签 传输数据-->
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
    1.namespace属性的值和接口的全限定名保持一致
    2.select标签中，id属性的值和接口中的方法名保持一致
    3.通过#{}方式接收参数，如果只有一个参数，名字随意。
    4.语句结束之后，必须不能加分号
    5.在SpringBoot启动类上加@MapperScan(basePackages = "com.atguigu.gmall.publisher.mapper")
-->
<mapper namespace="com.atguigu.gmall.publisher.mapper.OrderWideMapper">
    <select id="selectOrderAmountTotal" resultType="java.math.BigDecimal">
        select
            sum(final_detail_amount) sum_amount
        from
            t_order_wide_0523
        where
            dt =#{date}
    </select>
    <!--resultType 功能其实同 resultMap ,但是resultMap能更加灵活的加更多的参数，如autoMapping开始字段-字段名映射-->
    <select id="selectOrderAmountHour" resultMap="resMap">
        select
            toHour(create_time) hr ,sum(final_detail_amount) am
        from
            t_order_wide_0523
        where dt= #{date}
        group by toHour(create_time)
    </select>
    <!-- id resultMap名和上边的select标签对应 type同resultType，传结果保存的数据对象类型 autoMapping开始字段-字段名映射-->
    <resultMap id="resMap" type="java.util.Map" autoMapping="true"></resultMap>
</mapper>